.contacts {
  @include list;

  &--topmenu {
    display: none;
  }
}

.contacts--topmenu .contacts__item {
  display: none;
}

.contacts__link {
  font-family: $titles-font;
  font-size: 16px;
  color: #192144;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.contacts__icon-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #121936;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;

  &--orange {
    background-color: #ff8d30;
    margin-right: 0;

    &:hover,
    &:focus {
      background-color: #f26926;
    }

    &:active .contacts__icon {
      opacity: 0.6;
    }
  }

  &--yellow {
    background-color: #ffbd30;
    margin-right: 0;

    &:hover,
    &:focus {
      background-color: #ff8d30;
    }

    &:active .contacts__icon {
      opacity: 0.6;
    }
  }
}

.contacts__icon {
  width: 20px;
  height: 20px;
  fill: #ffd74b;
}

.contacts__icon-wrapper--yellow .contacts__icon,
.contacts__icon-wrapper--orange .contacts__icon {
  fill: #161c35;
}

/* Tablet */

@media (min-width: 768px) {
  .contacts--topmenu {
    display: flex;
    align-items: center;
  }

  .contacts--topmenu .contacts__item:last-child {
    display: block;
    width: 189px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .contacts__link {
    font-size: 28px;
  }

  .contacts__icon-wrapper {
    width: 70px;
    height: 70px;
  }

  .contacts__icon {
    width: 27px;
    height: 27px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .contacts--topmenu .contacts__item {
    display: block;
  }

  .contacts__link span {
    display: none;
  }

  .contacts__btn {
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
  }

  .contacts__icon-wrapper {
    width: 55px;
    height: 55px;
  }

  .contacts__icon {
    fill: #161c35;
  }
}
