.header {
  position: relative;

  &--closed {
    background-color: #161d36;
  }

  &--opened {
    background: #ffffff;
  }

  &--nojs {
    background-color: #ffffff;
  }
}

.header__top {
  height: 1px;
  min-height: 74px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-pic--blue {
  display: none;
}

.header__toggle {
  position: relative;
  border: none;
  padding: 0;
  outline: none;
  width: 26px;
  height: 13px;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    top: 13%;
    left: 0;
    right: 0;
    transition: top 0.3s, transform 0.3s;
  }

  &::after {
    top: 100%;
  }
}

/* mobile / tablet only */

@media (max-width: 1439px) {
  .header--opened .header__toggle {
    width: 25px;
    height: 25px;

    &::before,
    &::after {
      background-color: #cccccc;
      top: 11px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .header--fixed .header__logo-pic,
  .header--opened .header__logo-pic {
    display: none;
  }

  .header--fixed .header__logo-pic--blue,
  .header--opened .header__logo-pic--blue {
    display: block;
  }

  .header--opened .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(74px);
    z-index: 10;
  }

  .header--closed .main-nav {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-200vh);
  }

  .header--nojs .header__toggle {
    display: none;
  }

  .header--nojs .main-nav {
    position: static;
    min-height: 0;
    transform: translateY(0);
  }

  /* Fix header */

  .header--opened.header--fixed,
  .header--closed.header--fixed {
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  .header--fixed .header__toggle {
    &::before,
    &::after {
      background-color: #eeeeee;
    }
  }
}

/* Tablet */

@media (min-width: 768px) {

  /* tablet only */

  @media (max-width: 1439px) {
    .header {
      &--closed {
        background-color: #182044;
      }

      &--opened .main-nav {
        transform: translateY(132px);
      }
    }
  }

  .header__top {
    max-width: 768px;
    min-height: 132px;
    margin: 0 auto;
    align-items: center;
    border: none;
  }

  .header__logo {
    width: 165px;
  }

  .header__toggle {
    width: 24px;

    &::before,
    &::after {
      height: 3px;
    }
  }

  .header__logo-pic {
    width: 165px;
    height: 42px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .header {
    background-color: #161c35;
  }

  .header__inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  .header__logo {
    position: relative;
    width: 200px;

    &::after {
      content: "";
      width: 68px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      right: -100px;
    }
  }

  .header__logo-pic {
    width: 200px;
    height: 52px;
  }

  .header__top {
    margin-right: 144px;
    padding: 0;
    margin-left: 0;
  }

  .header__toggle {
    display: none;
  }

  .header .contacts--topmenu {
    position: absolute;
    right: 0;
  }
}
