.modal {
  width: 100%;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  margin-top: 100px;
  min-width: 270px;
  max-width: 750px;
  height: 1px;
  min-height: 443px;
  border-radius: 20px;
  background: #ffffff;
  padding-top: 33px;
  box-shadow: 0 6px 21px 0 rgba(73, 73, 73, 0.8);
}

.modal__title {
  margin: 0;
  padding: 0;
  font-family: $titles-font;
  color: #ff8d30;
  font-size: 24px;
  text-align: center;
  margin-bottom: 29px;
}

.modal__list {
  @include list;
  padding: 0 25px;
  margin-bottom: 44px;
}

.modal__item {
  font-family: $text-font;
  font-size: 16px;
  font-weight: 300;
  color: #444444;
  border-top: 1px solid #eeeeee;
  padding: 15px 0;

  &:last-child {
    border-bottom: 1px solid #eeeeee;
  }

  & p {
    width: 165px;
    margin: 0;
    line-height: 1;
  }
}

.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f4f8;
  width: 100%;
  min-height: 60px;
  padding: 5px;
  border-radius: 0 0 20px 20px;
  font-family: $titles-font;
  font-size: 16px;
  text-transform: uppercase;
  color: #1d2e5b;
}

/* Tablet */

@media (min-width: 768px) {
  .modal {
    padding: 0 40px;
  }

  .modal__content {
    margin-top: 200px;
    padding-top: 52px;
  }

  .modal__title {
    font-size: 45px;
  }

  .modal__item {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
  }

  .modal__list {
    width: 506px;
    margin: 0 90px;
    margin-bottom: 50px;
  }

  .modal__item p {
    width: auto;
  }

  .modal__close {
    font-size: 24px;
    min-height: 108px;
    padding: 5px 10px;

    &:hover,
    &:focus {
      background-color: #edeff6;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .modal {
    padding: 0;
  }
}
