.countries-filter {
  width: 100%;
  margin: -50px auto 0;
  background-color: #e2e5f2;
  border-radius: 0 0 30px 30px;
  padding: 72px 0 34px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &--closed {
    height: 1px;
    min-height: 50px;
  }

  &--nojs {
    height: auto;
  }
}

/* состояние при открытом / закрытом фильтре стран */

.countries-filter--nojs .countries-filter__toggle {
  display: none;
}

.countries-filter--nojs .countries-filter__continents {
  display: block;
}

.countries-filter--nojs .countries-filter__alfabet {
  display: block;
}

.countries-filter--opened .countries-filter__continents {
  display: block;
}

.countries-filter--opened .countries-filter__alfabet {
  display: block;
}

.countries-filter--opened .countries-filter__collapse {
  display: flex;
}

.countries-filter--opened .countries-filter__toggle {
  background-image: url("../img/menu-close.svg");
  background-size: 12px 12px;
}

.countries-filter--closed .countries-filter__continents {
  display: none;
}

.countries-filter--closed .countries-filter__alphabet {
  display: none;
}

.countries-filter--closed .countries-filter__collapse {
  display: none;
}

.countries-filter--closed .countries-filter__toggle {
  background-image: url("../img/dots.svg");
  background-size: 17px 3px;
}
/* состояние при открытом / закрытом фильтре стран */

.countries-filter__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 25px;
}

.countries-filter__preview {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.countries-filter__title {
  font-family: $titles-font;
  font-size: 16px;
  color: #192144;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 15px;
    height: 10px;
    background-image: url("../../img/filter.svg");
    margin-right: 12px;
  }
}

.countries-filter__toggle {
  font-size: 0;
  line-height: 0;
  color: transparent;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
}

.countries-filter__review {
  min-height: 640px;
  position: relative;
}

.countries-filter__continents {
  @include list;
  margin-left: 25px;
  margin-bottom: 30px;
}

.countries-filter__continent {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.countries-filter__alphabet {
  @include list;
  width: 100%;
  padding: 0 22px;
  margin-bottom: 30px;
}

.countries-filter__regions {
  @include list;
  display: none;
}

.countries-filter__tabs {
  @include list;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 30px;

  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: #143861;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff8d30;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
  }
}

.countries-filter__tab--show .countries-filter__regions {
  display: flex;
  flex-direction: column;
  padding: 0 22px;
  margin-bottom: 30px;
}

.countries-filter__collapse {
  border: none;
  background-color: #d6daed;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 20px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    background: url("../../img/close.svg") center center / contain no-repeat;
    margin-right: 15px;
  }
}

/* Tablet */

@media (min-width: 768px) {
  .countries-filter {
    border-radius: 0 0 40px 40px;
    padding-top: 85px;

    &--closed {
      min-height: 132px;
    }
  }

  /* состояние при открытом / закрытом фильтре стран */

  .countries-filter--closed .countries-filter__continents {
    display: flex;
  }

  .countries-filter--opened .countries-filter__continents {
    display: flex;
  }

  .countries-filter--closed .countries-filter__close {
    display: none;
  }

  .countries-filter--opened .countries-filter__open {
    display: none;
  }

  /* состояние при открытом / закрытом фильтре стран */

  .countries-filter__wrapper {
    width: 768px;
    padding: 0 74px;
  }

  .countries-filter__preview {
    margin-bottom: 0;
  }

  .countries-filter__title {
    display: none;
  }

  .countries-filter__toggle {
    width: 180px;
    font-family: $titles-font;
    font-size: 20px;
    color: #192144;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    background-position: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }

  .countries-filter__review {
    min-height: 477px;
  }

  .countries-filter__continents {
    width: 372px;
    align-items: center;
    justify-content: space-between;
  }

  .countries-filter__continent {
    margin-bottom: 0;
  }

  .countries-filter__alphabetWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .countries-filter__tabs {
    height: 400px;
  }

  .countries-filter__tab--show .countries-filter__regions {
    width: 155px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .countries-filter__alphabet {
    width: 400px;
    height: 400px;
    padding: 0;
    margin-bottom: 0;
  }

  .countries-filter__collapse {
    min-height: 95px;
    font-size: 20px;

    &::before {
      width: 23px;
      height: 23px;
    }
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .countries-filter {
    margin-top: -80px;
    padding: 125px 0 55px;

    &--nojs {
      height: auto;
    }
  }

  .countries-filter__wrapper {
    width: 1320px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .countries-filter__preview {
    width: 310px;
    padding: 0;
    padding-left: 25px;
    margin-bottom: 40px;
    align-items: flex-start;
  }

  .countries-filter__title {
    display: flex;
    font-size: 20px;

    &::before {
      width: 24px;
      height: 15px;
    }
  }

  .countries-filter__toggle {
    right: -925px;
  }

  .countries-filter__review {
    width: 910px;
  }

  .countries-filter__alphabet {
    width: 1245px;
    height: auto;
    margin: 0 auto;
    margin-left: -270px;
    margin-bottom: 70px;
    padding: 0;
  }

  .countries-filter__regions {
    display: block;
  }

  .countries-filter__tabs {
    display: none;
  }

  .countries-filter__collapse {
    width: 1320px;
    margin-left: -309px;
  }
}
