.features {
  @include list;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 100%;
  height: 1px;
  min-height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 23px;
  margin-top: -10px;

  &--orange {
    margin-top: 0;
    background-color: #ff8d30;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &--light-orange {
    background-color: #ffa530;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &--yellow {
    background-color: #ffbd30;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &--light-yellow {
    background-color: #ffd74b;
    border-radius: 10px;
  }
}

.features__text {
  @include text;
  width: 152px;
  font-family: $titles-font;
  font-size: 18px;
  color: #161c35;
  margin-right: 65px;
}

.features__number {
  font-family: $titles-font;
  font-size: 18px;
  color: #ffffff;
}

/* tablet */

@media (min-width: 768px) {
  .features__item {
    width: 50%;
    height: 1px;
    min-height: 140px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0 30px;

    &--orange {
      background-color: #ff8d30;
      border-top-left-radius: 20px;
    }

    &--light-orange {
      background-color: #ffa530;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      margin-left: -20px;
      flex-grow: 1;
    }

    &--yellow {
      background-color: #ffbd30;
      border-radius: 0 0 0 20px;
    }

    &--light-yellow {
      background-color: #ffd74b;
      border-radius: 0 0 20px 20px;
      margin-left: -20px;
      flex-grow: 1;
    }
  }

  .features__text {
    font-size: 24px;
    width: 188px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .features__number {
    font-size: 24px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .features__item {
    width: 25%;
    min-height: 107px;
    flex-direction: row;
    align-items: center;
    margin-left: -17px;

    &--orange {
      background-color: #ff8d30;
      border-radius: 20px 0 0 20px;
      margin-left: 0;
    }

    &--light-orange {
      background-color: #ffa530;
      border-radius: 20px 0 0 20px;
      margin-left: -17px;
    }

    &--yellow {
      background-color: #ffbd30;
      border-radius: 20px 0 0 20px;
      flex-grow: 1;
    }

    &--light-yellow {
      background-color: #ffd74b;
      border-radius: 20px;
      margin-left: -17px;
      padding-right: 25px;
      flex-grow: 1;
    }
  }

  .features__text {
    margin-right: 85px;
    margin-bottom: 0;
  }

  .features__number {
    margin-top: -15px;
  }
}
