.features {
  width: 100%;
  @include list;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--orange {
    background-color: #ff8d30;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
