.intro {
  background-color: #161c36;
  padding-bottom: 35px;
  margin-bottom: 60px;
}

.intro__wrapper {
  width: auto;
  padding: 0 25px;
  margin: 0 auto;
}

.intro__tagline {
  font-family: $titles-font;
  font-size: 36px;
  line-height: 1.11;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 50px 15px 0;
  margin-bottom: 250px;
}

.intro__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.intro__item {
  flex-basis: 45px;
  margin: 0;
  &:last-child {
    flex-basis: 180px;
  }
}

.intro-features {
  width: 100%;
}
