.address {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.address__marker {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #121936;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addres__icon {
  width: 15px;
  height: 23px;
  fill: #ffd74b;
}

.address__text {
  font-family: $titles-font;
  font-style: normal;
  text-transform: uppercase;
  color: #192144;
  font-size: 16px;
  line-height: 1.38;
  width: 153px;
}

/* Tablet */

@media (min-width: 768px) {
  .address__text {
    width: 436px;
    font-size: 28px;
    margin-left: 20px;
  }

  .address__marker {
    width: 70px;
    height: 70px;
    margin: 0;
  }

  .addres__icon {
    width: 23px;
    height: 33px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .address__marker {
    width: 90px;
    height: 90px;
    margin: 0;
  }

  .addres__icon {
    width: 33px;
    height: 43px;
  }
}
