.header {
  background: #ffffff;
}

.header__inner {
  width: auto;
  padding: 0 25px;
  margin: 0 auto;
  padding-top: 25px;
}

.header__top {
  width: auto;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toggle {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.header__register {
  display: none;
}

/* Tablet */

@media (min-width: 768px) {
  .header__top {
    max-width: 768px;
    margin: 0 auto;
  }

  .header__register {
    display: block;
    font-size: 20px;
  }

  .header__logo {
    width: 165px;
  }

  .header__logo-pic {
    width: 165px;
    height: 42px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .header {
    background-color: #161c35;
    display: flex;
    align-items: center;
    padding: 50px 60px 0;
  }

  .header__logo {
    position: relative;
    width: 200px;

    &::after {
      content: "";
      width: 68px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      right: -100px;
    }
  }

  .header__logo-pic {
    width: 200px;
    height: 52px;
  }

  .header__top {
    margin-right: 140px;
    padding: 0;
    margin-left: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__register {
    display: none;
  }
}
