.header {
  position: relative;

  &--closed {
    background: #161c36;
  }

  &--opened {
    background: #ffffff;
    transition: background 0.2s;
  }

  &--nojs {
    background-color: #ffffff;
  }
}

.header__top {
  height: 1px;
  min-height: 74px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toggle {
  border: none;
  padding: 0;
  outline: none;
  width: 26px;
  height: 13px;
  background: url("../img/menu.svg") center center / cover no-repeat;
  background-color: none;
  transition: all 0.2s;
}


.header__register {
  display: none;
}

/* mobile / tablet only */

@media (max-width: 1439px) {
  .header--opened .header__toggle {
    width: 24px;
    height: 24px;
    background: url("../img/menu-close.svg") center center / cover no-repeat;
    opacity: 0.3;
  }

  .header--nojs .header__toggle {
    display: none;
  }

  .header--opened .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(74px);
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

  .header--opened .site-list {
    transform: translateY(0);
    transition: transform 0.7s ease-in-out;
  }

  .header--opened .contacts {
    transform: translateX(0);
    transition: transform 1.2s ease-in-out;
  }

  .header--opened .social-list {
    transform: translateX(0);
    transition: transform 3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .header--closed .main-nav {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-120vh);
  }

  .header--closed .site-list {
    transform: translateX(100vw);
  }

  .header--closed .contacts {
    transform: translateX(-100vw);
  }

  .header--closed .social-list {
    transform: translateX(100vw);
  }

  .header--nojs .main-nav {
    position: static;
    min-height: 0;
  }
}

/* Tablet */

@media (min-width: 768px) {
  .header {
    &--closed {
      background-color: #182044;
    }
  }

  /* tablet only */

  @media (max-width: 1439px) {
    .header {
      &--closed .main-nav {
        transform: translateY(-200vh);
      }
    }
  }

  .header__top {
    max-width: 768px;
    margin: 0 auto;
    align-items: center;
    border: none;
  }

  .header__register {
    display: flex;
    font-size: 20px;
    min-width: 190px;
    height: 1px;
    min-height: 50px;
  }

  .header__logo {
    width: 165px;
  }

  .header__logo-pic {
    width: 165px;
    height: 42px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .header {
    background-color: #161c35;
  }

  .header__inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .header__logo {
    position: relative;
    width: 200px;

    &::after {
      content: "";
      width: 68px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      right: -100px;
    }
  }

  .header__logo-pic {
    width: 200px;
    height: 52px;
  }

  .header__top {
    margin-right: 144px;
    padding: 0;
    margin-left: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__register {
    display: none;
  }
}
