.main {
  background-color: #edeff6;
  padding-bottom: 100px;
}

.main__header {
  width: 100%;
  padding-top: 30px;
  border-radius: 0 0 30px 30px;
  background-color: #192144;
  margin: 0 auto 25px;
}

.main__header-wrapper {
  width: 320px;
  padding: 0 25px;
  margin: 0 auto;
}

.main__header-title {
  font-family: $titles-font;
  font-size: 36px;
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  &::after {
    content: "";
    width: 214px;
    height: 5px;
    background-color: #ff8d30;
    border-radius: 2.4px;
    margin-top: 15px;
  }
}
