.modal {
  width: 270px;
  height: 1px;
  min-height: 443px;
  border-radius: 20px;
  background: #ffffff;
  padding-top: 33px;
  position: fixed;
  top: 5%;
  left: 8%;
  transform: translate(0%, 0%);
  z-index: 10;
  box-shadow: 0 6px 21px 0 rgba(73, 73, 73, 0.8);
  display: none;
}

.modal--show {
  display: block;
}

.modal__title {
  margin: 0;
  padding: 0;
  font-family: $titles-font;
  color: #ff8d30;
  font-size: 24px;
  text-align: center;
  margin-bottom: 29px;
}

.modal__list {
  @include list;
  padding: 0 25px;
  margin-bottom: 30px;
}

.modal__item {
  font-family: $text-font;
  font-size: 16px;
  font-weight: 300;
  color: #444444;
  border-top: 1px solid #eeeeee;
  padding: 15px 0;

  &:last-child {
    border-bottom: 1px solid #eeeeee;
  }

  p {
    width: 165px;
    margin: 0;
    line-height: 1.38;
  }
}

.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f4f8;
  width: 100%;
  min-height: 60px;
  padding: 5px;
  border-radius: 0 0 20px 20px;
  font-family: $titles-font;
  font-size: 16px;
  text-transform: uppercase;
  color: #1d2e5b;
}

/* Tablet */

@media (min-width: 768px) {
  .modal {
    width: 688px;
    min-height: 526px;
    padding-top: 52px;
    left: 5%;
  }

  .modal__title {
    font-size: 45px;
  }

  .modal__item {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
  }

  .modal__list {
    margin: 0 90px 50px;
  }

  .modal__item p {
    width: auto;
  }

  .modal__close {
    font-size: 24px;
    min-height: 108px;
    padding: 5px 10px;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .modal {
    left: 27%;
  }
}
