.rates__item {
  height: 1px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $text-font;
  font-size: 16px;
  color: #444444;
  line-height: 1.38;
  position: relative;
  border-top: 1px solid #d6d9e6;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid #d6d9e6;
    padding-bottom: 10px;
  }
}

.rates__words span {
  display: block;
}

.rates__number {
  background-color: #ffa530;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -44px;

  &--light-orange {
    background-color: #ffbd30;
  }

  &--yellow {
    background-color: #ffd74b;
  }
}

.rates__link {
  font-family: $titles-font;
  color: #192144;
  display: block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.rates__icon-holder {
  display: none;
}

/* Tablet */

@media (min-width: 768px) {
  .rates__item {
    font-size: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .rates__words {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .rates__number {
    width: 65px;
    height: 65px;
    top: 0;
    left: -91px;
  }

  .rates__link {
    position: relative;
    font-size: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .rates__icon-holder {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #e2e5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
  }

  .rates__icon {
    fill: #132576;
    width: 17px;
    height: 21px;
    display: flex;
    z-index: 2;
  }
}

/*Desktop */

@media (min-width: 1440px) {
  .rates__link {
    padding: 0 74px;
  }
}
