.travelers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.travelers__card {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.travelers__level {
  position: absolute;
  top: 16px;
  left: 16px;
}

.travelers__level .progressbar__wrapper {
  position: relative;

  &::before {
    content: "";
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;
  }
}

.travelers__profile-img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
}

.travelers__desc {
  background-color: #ffffff;
  margin-top: -5px;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  border-radius: 0 0 10px 10px;
}

.travalers__desc-list {
  @include list;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -33px;
  margin-bottom: 15px;
}

.travalers__desc-item {
  width: 35px;
  height: 24px;
  position: relative;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 2px;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background-image: linear-gradient(45deg, #101d41 60%, transparent 50%);
    transform: rotate(135deg);
    position: absolute;
    top: 25px;
    left: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &--shri-lanka::before {
    background: url("../img/flag-sri-lanka.svg") center center / cover no-repeat;
  }

  &--Thailand::before {
    background: url("../img/flag-thailand.svg") center center /cover no-repeat;
  }

  &--seychelles::before {
    background: url("../img/flag-seychelles.svg") center center / cover no-repeat;
  }

  &--belgium::before {
    background: url("../img/flag-belgium.svg") center center / cover no-repeat;
  }

  &--czech::before {
    background: url("../img/flag-czech.svg") center center / cover no-repeat;
  }

  &:hover .travelers__desk-countrie {
    padding: 10px 21px;
    background-color: #101d41;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    white-space: nowrap;
    z-index: 3;
  }

  &:hover::after {
    opacity: 1;
  }
}

.travelers__desk-countrie {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 29px;
  left: -33px;
  transition: all 0.1s;
  border-radius: 5px;
}

.travelers__name {
  font-family: $titles-font;
  font-size: 21px;
  color: #1d2e5b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f97676;
    margin-right: 10px;
  }
}

.travelers__name--green::before {
  background-color: #81e31e;
}

.travelers__hashtags {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.travelers__transport-list {
  @include list;
  width: 126px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.travelers__transport-item:hover::after {
  opacity: 1;
}

.travelers__transport-item svg {
  fill: #d9d9d9;
}

.travelers__transport-item--active svg {
  fill: #1d2e5b;
}

.travelers__transport-title {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 29px;
  left: -33px;
  transition: all 0.3s;
  border-radius: 5px;
}

/* Tablet */

@media (min-width: 768px) {
  .travelers__card {
    border-radius: 20px;
    width: 285px;
    margin: 0;
  }

  .travelers__card:hover,
  .travelers__card:focus,
  .travelers__card:active {
    box-shadow: 0 6px 21px 0 rgba(73, 73, 73, 0.8);
  }

  .travelers__card:hover .travelers__profile-img,
  .travelers__card:focus .travelers__profile-img,
  .travelers__card:active .travelers__profile-img {
    transform: scale(1.1027);
  }

  .travelers__photo-wrapper {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }

  .travelers__profile-img {
    height: 283px;
    border-radius: 20px 20px 0 0;
  }

  .travelers__desc {
    min-height: 198px;
    border-radius: 0 0 20px 20px;
  }

  .travalers__desc-list {
    margin-bottom: 20px;
  }

  .travelers__name {
    font-size: 24px;
    margin-bottom: 25px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .travelers__hashtags {
    width: 222px;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .travelers__transport-item {
    position: relative;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background-image: linear-gradient(45deg, #101d41 60%, transparent 50%);
      transform: rotate(135deg);
      position: absolute;
      top: 25px;
      left: 5px;
      opacity: 0;
      transition: opacity 0.1s;
    }
  }

  .travelers__transport-item:hover .travelers__transport-title {
    padding: 10px 21px;
    background-color: #101d41;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    z-index: 3;
  }
}

/* Desktop */

@media (min-width: 1440px) {
  .travelers {
    &::before {
      top: 0;
      left: -200px;
    }
  }

  .travelers__btn {
    margin-top: -500px;
  }
}
